@import "tailwindcss";

@theme {
  --color-primary: #1a73e8; /* Example custom primary color */
  --color-foreground: #ffffff; /* Example custom secondary color */

  /* You can also define shades for your custom colors */
  --color-customGreen-100: #e6ffe6;
  --color-customGreen-500: #4caf50;
  --color-customGreen-900: #1b5e20;
}
